body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header, .first, .second, .third, .fourth, .footer {
    display: flex;
    padding: 0 40px;
}


/* header */
.header {
    height: 48px;
    background: #1F2937;
    color: white;
    /* display: flex; */
    align-items: center;
    /* padding: 0 40px; */
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

/* Level 1 */
.first {
    /* display: flex; */
    /* height: 400px; */
    padding: 80px 40px;
    background: #1F2937;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 40px; */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    max-width: 520px;
}

.left div {
    padding: 5px;
}

.caption {
    font-weight: 800;
    font-size: 40px;
    flex-wrap: wrap;
}

.sub-one {
    font-weight: 300;
    font-size: 30px;
    flex-wrap: wrap;
}

.button button {
    background-color: lightblue;
    font-weight: 700;
    color: white;
    padding: 8px 16px;
}

.right img {
    width: 520px;
    height: 220px;
    background:#9aa1aa;
    color:#eee;
    display:flex; 
    align-items:center; 
    justify-content:center;
    border-radius:4px;
}


/* level 2 */

.second {
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 400px; */
    padding: 60px 40px;
}

.header-two {
    font-weight: 700;
    font-size: 32px;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 700px; */
    gap: 4px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 4px;
}

.card img {
    height: 200px;
    width: 200px;
    border: 2px solid blue;
}

/* level three */

.third {
    height: 400px;
    background-color: gainsboro;
    color: navy;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    justify-content: start;
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    align-self: start;
}

.author {
    font-weight: 700;
    font-size: 24px;
    justify-content: end;
    align-self: end;
}


/* level four */

.fourth {
    height: 700px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.blue-container {
    box-sizing: border-box;
    display: flex;
    height: 200px;
    width: 700px;
    background-color: lightblue;
    color: white;
    align-items: center;
    justify-content: center;
    /* padding: 50px; */
    border-radius: 10px;
}

.text-fourth {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-shrink: 0;
}

.sign-up {
    background-color: lightblue;
    color: white;
    border: 2px white;
    border-radius: 10%;
}


/* footer */

.footer {
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 72px;
}